<div id="<%= dom_id cart %>" class="my-5 space-y-5">
    <h2 class="text-lg font-bold mb-3">Your Cart</h2>

    <table class="table-auto">
        <tbody>
            <%= render cart.line_items %>
        </tbody>

        <tfoot>
            <tr>
                <th class="text-right pt-2 pr-2" colspan="3">Total:</th>
                <td class="text-right pt-2 font-bold border-t-2 border-black"><%= number_to_currency cart.total_price, unit: "€"%></td>
            </tr>
        </tfoot>
    </table>

    <div class="flex mt-1">
        <%= button_to "Empty Cart", cart, method: :delete, class: "bg-green-600 py-1 px-2 ml-4 text-white rounded-lg cursor-pointer" %>

        <%= button_to "Check Out", new_order_path, class: "bg-green-200 py-1 px-2 ml-4 text-black rounded-lg cursor-pointer" %>
    </div>
</div>
