<div id="<%= dom_id cart %>" class="my-5 space-y-5">
    <h2 class="text-lg font-bold mb-3">Your Cart</h2>

    <table class="table-auto">
        <tbody>
            <% cart.line_items.each do |item| %>
                <tr class="h-12">
                    <td class="text-right"><%= item.quantity %></td>
                    <td>&times;</td>
                    <td class="pr-2"><%= item.product.title %></td>
                    <td class="text-right font-bold"><%= number_to_currency item.total_price, unit: "€" %></td>
                    <td><%= button_to "Remove", item, method: :delete, class: "py-1 px-2 bg-red-600 rounded-lg text-white ml-4 cursor-pointer" %></td>
                </tr>
            <% end %>
        </tbody>

        <tfoot>
            <tr>
                <th class="text-right pt-2 pr-2" colspan="3">Total:</th>
                <td class="text-right pt-2 font-bold border-t-2 border-black"><%= number_to_currency cart.total_price, unit: "€"%></td>
            </tr>
        </tfoot>
    </table>

    <%= button_to "Empty Cart", cart, method: :delete, class: "bg-green-600 py-1 px-2 ml-4 text-white rounded-lg cursor-pointer" %>
</div>
