<div class="w-full">
  <%= render 'notice' %>

  <h1 class="text-xl font-bold"><%= t(".title_html") %></h1>

  <%= turbo_stream_from 'store/products' %>

  <% if @counter > 5 %>
    <p class="text-gray-500 italic">You have visited the catalog <%= pluralize(@counter, "time")%> without adding a product to the cart.</p>
  <% end %>

  <div class="mb-6 border-b-2 pb-2"></div>

  <ul>
    <% cache @products do %>
      <% @products.each do |product| %>
        <% cache product do %>
          <%= render partial: 'product', object: product %>
        <% end %>
      <% end %>
    <% end %>
  </ul>
</div>